#micro-map-widget .address-search, .map-placeholder .address-search, .map-placeholder .edit-toolbar {
  background-color: rgba(255, 255, 255, 0.7) !important;
  background-color: #fff;
  padding: 4px;
}

#micro-map-widget,
.map-placeholder {
  overflow: hidden;
}

.map-placeholder .edit-toolbar .sg-button {
  display: block;
  float: left;
  margin-left: 3px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}

.map-placeholder .edit-toolbar .spacer {
  display: block;
  float: left;
  width: 5px;
  overflow: hidden;
}

.map-placeholder .edit-toolbar .sg-button:first-child {
  margin-left: 0;
}

.map-placeholder .edit-toolbar .area {
  background-image: url(area_inactive.png);
}

.map-placeholder .edit-toolbar .remove_area {
  background-image: url(area_delete.png);
}

.map-placeholder .area-active .area {
  background-image: url(area_active.png);
}

.map-placeholder .edit-toolbar .position {
  background-image: url(marker_inactive.png);
}

.map-placeholder .edit-toolbar .remove_position {
  background-image: url(marker_delete.png);
}

.map-placeholder .position-active .position {
  background-image: url(marker_active.png);
}

#micro-map-widget {
  height: 200px;
}

#micro-map-info-window {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}

.reset-position {
  margin: 3px 0 0 0;
}

.reset-position .remove-button {
  margin: 0 5px 0 0;
}