.map-placeholder .address-search,
#micro-map-widget .address-search {
  background-color: #fff;
  border: 1px solid #000;
  padding: 2px;
}

#micro-map-widget {
  height: 200px;
}

#micro-map-info-window {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}

.reset-position {
  margin: 3px 0 0 0;
}

.reset-position .remove-button {
  margin: 0 5px 0 0;
}